<ion-header>
  <ion-navbar>
    <ion-title>Categories</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="silver-bg">
  <ion-searchbar (ionInput)="filterCategories($event)" placeholder="Search"></ion-searchbar>

  <ion-list>
    <button ion-item *ngFor="let category of categories">
      <h2>{{ category.title }}</h2>
      <p item-end>{{ category.projectsCount }} projects</p>
    </button>

    <ion-item *ngIf="categories?.length == 0 || !categories">
      <p text-center>No categories found</p>
    </ion-item>
  </ion-list>
</ion-content>