<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onRemoveRequirement(requirement)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onLoadRequirementForm(requirement)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Requirement {{ segment }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="Info">
      INFO
    </ion-segment-button>
    <ion-segment-button value="Tasks">
      TASKS ({{ tasks?.length }})
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'Info'">
      <ion-item text-wrap text-center>
        <h2>{{ requirement.title }}</h2>
      </ion-item>
      <ion-item text-wrap text-justify>
        <p>{{ requirement.description }}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Tasks'">
        <ion-item ion-item *ngIf="tasks?.length == 0">
            <p text-center>No tasks found</p>
        </ion-item>
  
        <button ion-item *ngFor="let task of tasks" (click)="onLoadTaskFormEdit(task)">
          {{ task.name }}
          <ion-badge item-end [ngClass]="{ 'bg-green': task.percentageCompleted > 90, 
                                   'bg-orange': task.percentageCompleted > 50 && task.percentageCompleted <= 90,
                                   'bg-red': task.percentageCompleted <= 50 }">
            {{ task.percentageCompleted }}%
          </ion-badge>
        </button>

        <button color="primary" clear ion-button block (click)="onLoadTaskFormNew(requirement)">
          <p>Add a New One</p>
        </button>
      </ion-list> 
  </div>
</ion-content>