<ion-header>
  <ion-navbar>
    <ion-title>
      Project
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="info">
      Info
    </ion-segment-button>
    <ion-segment-button value="categories">
      CAT ({{ categories?.length }})
    </ion-segment-button>
    <ion-segment-button value="requirements">
      REQ ({{ requirements?.length }})
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'info'">
      <ion-item text-wrap text-justify>
        <h2>{{ project.name }}</h2>
        <br />
        <p>{{ project.description }}</p>
      </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase="'categories'">
      <ion-item ion-item *ngIf="categories.length == 0">
        No categories
      </ion-item>

      <ion-item ion-item text-wrap *ngFor="let category of categories">
        <h2>{{ category.name }}</h2>
        <p>Confidence: {{ category.confidence }}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'requirements'">
      <ion-item ion-item *ngIf="requirements.length == 0">
        No Requirements
      </ion-item>

      <button ion-item *ngFor="let requirement of requirements" (click)="onLoadRequirement(requirement)">
        {{ requirement.title }}
      </button>
    </ion-list>
  </div>
</ion-content>