<ion-header>
  <ion-navbar>
    <ion-title>
      Project
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="info">
      Info
    </ion-segment-button>
    <ion-segment-button value="categories">
      CAT ({{ categories?.length }})
    </ion-segment-button>
    <ion-segment-button value="requirements">
      REQ ({{ requirements?.length }})
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'info'">
      <ion-item text-wrap text-center>
        <h2>{{ project.name }}</h2>
      </ion-item>
      <ion-item text-wrap text-justify>
        <p>Size</p>
        <h2 item-end>{{ project.size }}</h2>
      </ion-item>
      <ion-item text-wrap *ngIf="project.percentageCompleted != 'None'">
        <p>Percentage Completed</p>
        <ion-badge item-end
          [ngClass]="{ 'bg-green': project.percentageCompleted > 90, 
            'bg-orange': project.percentageCompleted > 50 && project.percentageCompleted <= 90,
            'bg-red': project.percentageCompleted <= 50 }">
          {{ project.percentageCompleted }}%
        </ion-badge>
      </ion-item>
      <ion-item text-wrap text-justify>
        <p>{{ project.description }}</p>
      </ion-item>
    </ion-list>
  
    <ion-list *ngSwitchCase="'categories'">
      <ion-item ion-item *ngIf="categories.length == 0">
          <p text-center>No categories found</p>
      </ion-item>

      <ion-item ion-item text-wrap *ngFor="let category of categories">
        <h2>{{ category.name }}</h2>
        <p>Confidence: {{ category.confidence }}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'requirements'">
      <ion-item ion-item *ngIf="requirements.length == 0">
        <p text-center>No requirements found</p>
      </ion-item>

      <button ion-item *ngFor="let requirement of requirements" (click)="onLoadRequirement(requirement)">
        {{ requirement.title }}
        <ion-badge item-end
          *ngIf="requirement.percentageCompleted != 'None'"
          [ngClass]="{ 'bg-green': requirement.percentageCompleted > 90, 
            'bg-orange': requirement.percentageCompleted > 50 && requirement.percentageCompleted <= 90,
            'bg-red': requirement.percentageCompleted <= 50 }">
          {{ requirement.percentageCompleted }}%
        </ion-badge>
      </button>
    </ion-list>
  </div>
</ion-content>