<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="onRemoveProject(project)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onLoadProjectForm(project)">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Project {{ segment }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="Info">
      Info
    </ion-segment-button>
    
    <ion-segment-button value="Requirements">
      Require ({{ requirements?.length }})
    </ion-segment-button>

    <ion-segment-button value="Recommendations">
      Recommend ({{ recommendations?.length }})
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'Info'">
      <ion-item text-wrap text-center>
        <h2>{{ project.title }}</h2>
      </ion-item>

      <ion-item text-wrap text-center>
        {{ project.domain }}
      </ion-item>

      <ion-item text-wrap text-justify>
        <p>{{ project.description }}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Requirements'">
      <ion-item ion-item *ngIf="requirements.length == 0">
        <p text-center>No requirements found</p>
      </ion-item>

      <button ion-item *ngFor="let requirement of requirements" (click)="onLoadRequirement(requirement)">
        {{ requirement.title }}
      </button>

      <button color="primary" clear ion-button block (click)="onLoadRequirementForm()">
        <p>Add a New One</p>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'Recommendations'">
      <ion-item ion-item *ngIf="recommendations?.length == 0">
          <p text-center>No recommendations found</p>
      </ion-item>

      <ion-card *ngFor="let recommendation of recommendations">
        <ion-card-content>
          <h2>{{ recommendation.requirementTitle }}</h2>
          <hr>
          <p>{{ recommendation.requirementDescription }}</p>
          
          <p>
            Distance: {{ recommendation.distance }} - 
            Steps: {{ recommendation.steps }} - 
            Sample: {{ recommendation.sample }}
          </p>
      
          <p> 
            Project:
            {{ recommendation.projectTitle }}
          </p>
        </ion-card-content>
      
        <ion-row>
          <ion-col col-4 align-self-center text-center>
            <ion-note>
              
            </ion-note>
          </ion-col>
          
          <ion-col col-4 align-self-center text-center>
            <button ion-button icon-start small outline color="danger" (click)="onRejectRecommendation(recommendation)">
              <ion-icon name="close"></ion-icon>
              <div>Refuse</div>
            </button>
          </ion-col>

          <ion-col col-4 align-self-center text-center>
            <button ion-button icon-start small outline color="secondary" (click)="onAcceptRecommendation(recommendation)">
              <ion-icon name="checkmark"></ion-icon>
              <div>Admit</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
</ion-content>